bootstrap.servers=kafka.confluent.svc.cluster.local:9071
#sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="${file:/mnt/secrets/credential/plain.txt:username}" password="${file:/mnt/secrets/credential/plain.txt:password}";
#sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username=username password=password;
#sasl.mechanism=PLAIN
#security.protocol=SASL_SSL
#ssl.truststore.location=/mnt/sslcerts/truststore.p12
group.id=mirrormaker-azure
exclude.internal.topics=true
client.id=mirrormaker-azure_consumer
partition.assignment.strategy=org.apache.kafka.clients.consumer.RoundRobinAssignor
auto.offset.reset=earliest
#ssl.truststore.password=${file:/tmp/jksPassword.txt:jksPassword}
#ssl.truststore.password=mystorepassword
