bootstrap.servers=sbx-kafka-poc.servicebus.windows.net:9093
client.id=mirrormaker-azure_producer
sasl.mechanism=PLAIN
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="$ConnectionString" password="Endpoint=sb://sbx-kafka-poc.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=yfq1zsx+FXlaVe1oKrHAkRv7G6+9feI5yrqVYKIVFvY=";

